<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Trang chọn ghế</title>
    <style>
        .format_seat{
            margin: 0 auto;
            width: 70%;

        }
        .seat-area .seat-line ul{
            gap: 12px;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>


<section layout:fragment="content">
    <section class="details-banner hero-area bg_img seat-plan-banner" th:if="${film != null}" th:attr="data-background=${film.poster}"
             style="background-image: url(&quot;/assets/img/banner/banner04.jpg&quot;);">
        <div class="container">
            <div class="details-banner-wrapper">
                <div class="details-banner-content style-two">
                    <h3 class="title" th:text="${film.name}"></h3>
                    <div class="tags">
                        <a href="#0" th:text="${film.subtitle}"></a>
                        <a href="#0" th:text="${film.quanlity}"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-title bg-one" th:if="${schedule != null}">
        <div class="container">
            <div class="page-title-area">
                <div class="item md-order-1">
                    <a th:href="@{/schedules/{id}(id=${film.id})}" class="custom-button back-button">
                        <i class="flaticon-double-right-arrows-angles"></i>
                        Trở về
                    </a>
                </div>
                <div class="item date-item">
                    <span class="date" th:text="'Thời gian chiếu: ' + ${schedule.startTime}"></span>
                </div>

<!--                Count Down time for customer to choose seat-->
                <div class="item">
                    <h5 th:text="${currentTime}"></h5>
                    <p class="mt-2">Hiện tại</p>
                </div>
            </div>
        </div>
    </section>

        <div class="seat-plan-section padding-bottom padding-top">
            <div class="container">
                <div class="screen-area">
                    <h4 class="screen">Màn hình</h4>
                    <div class="screen-thumb">
                        <img src="/assets/img/movie/screen-thumb.png" alt="movie">
                    </div>
                    <h5 class="subtitle">Ghế thường</h5>
                    <div class="screen-wrapper">
                        <ul class="seat-area">
                            <li class="seat-line">
                                <ul class="format_seat">
                                    <li class="front-seat">
                                        <ul>
                                            <li class="single-seat seat-free" th:each="seat : ${seatsByType['regular']}">
                                                <img class="seat-img" alt="seat"
                                                     th:attr="src=${seat.image}, data-src2='/assets/img/seat/regularchoose.png', data-src=${seat.image}, data-id=${seat.id},data-symbol=${seat.symbol}, data-price=${seat.seattype.price}">
                                                <span class="sit-num" th:text="${seat.symbol}"></span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <h5 class="subtitle">Ghế VIP</h5>
                    <div class="screen-wrapper">
                        <ul class="seat-area">
                            <li class="seat-line">
                                <ul class="format_seat">
                                    <li class="front-seat">
                                        <ul>
                                            <li class="single-seat seat-free" th:each="seat : ${seatsByType['VIP']}">
                                                <img class="seat-img" alt="seat"
                                                     th:attr="src=${seat.image}, data-src2='/assets/img/seat/VIPchoose.png', data-src=${seat.image}, data-id=${seat.id},data-symbol=${seat.symbol}, data-price=${seat.seattype.price}">
                                                <span class="sit-num" th:text="${seat.symbol}"></span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <h5 class="subtitle">SweetBox</h5>
                    <div class="screen-wrapper">
                        <ul class="seat-area couple">
                            <li class="seat-line">
                                <ul class="seat--area">
                                    <li class="front-seat">
                                        <ul style="margin-left: 60px">
                                            <li class="single-seat seat-free-two" th:each="seat : ${seatsByType['couple']}">
                                                <img class="seat-img" alt="seat"
                                                     th:attr="src=${seat.image}, data-src2='/assets/img/seat/couplechoose.png', data-src=${seat.image}, data-id=${seat.id},data-symbol=${seat.symbol}, data-price=${seat.seattype.price}">
                                                <span class="sit-num" th:text="${seat.symbol}"></span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="proceed-book bg_img" data-background="/assets/img/movie/movie-bg-proceed.jpg" style="background-image: url(&quot;/assets/img/movie/movie-bg-proceed.jpg&quot;);">
                    <div class="proceed-to-book">
                        <div class="book-item">
                            <span>Bạn đã chọn ghế</span>
                            <h3 class="title selected-seats"></h3>
                            <div class="error-message" style="display: none; color: red;"></div>
                        </div>
                        <div class="book-item">
                            <span>Tổng tiền</span>
                            <h3 class="title total-price">0 VND</h3>
                        </div>
                        <form id="checkout-form" th:action="@{/purchase/add}" method="post" >
                            <input type="hidden" id="selectedSeatsInput" name="seatSymbol">
                            <input type="hidden" id="totalPriceInput" name="totalPrice">
                            <input type="hidden" id="startTimeInput" name="startTime" th:value="${schedule.startTime}">
                            <input type="hidden" id="filmTitleInput" name="filmTitle" th:value="${film.name}">
                            <input type="hidden" id="posterInput" name="poster" th:value="${film.poster}">
                            <input type="hidden" id="categoryInput" name="category" th:value="${film.category.name}">
                            <input type="hidden" id="cinemaNameInput" name="cinemaName" th:value="${cinemaName}">
                            <input type="hidden" id="cinemaAddressInput" name="cinemaAddress" th:value="${cinemaAddress}">
                            <input type="hidden" id="roomNameInput" name="roomName" th:value="${roomName}">
                            <div class="book-item">
                                <button type="submit" class="custom-button" id="checkout-button" sec:authorize="isAuthenticated()">Tiếp tục</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

    </div>
</section>

</body>
</html>