
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Thêm rạp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<section layout:fragment="content" class="container mt-5">
    <!-- BREADCRUMB -->
    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class=" display-3 mb-4 fw-bolder">
                Trang thêm rạp
            </h3>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/home/index">Trang chủ</a></li>
                <li class="breadcrumb-item active">Thêm rạp</li>
            </ol>
        </div>
    </div>
    <!-- Header End -->
    <!-- /BREADCRUMB -->
    <!--    <h1 class="mb-4">Form Category</h1>-->
    <form th:action="@{/admin/cinemas/add}" th:object="${cinema}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Tên rạp:</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Cinema Name"/>
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Địa chỉ:</label>
            <input type="text" id="address" th:field="*{address}" class="form-control" placeholder="Address"/>
            <div class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
        </div>
        <div class="mb-3">
            <label for="map" class="form-label">Vị trí:</label>
            <input type="text" id="map" th:field="*{map}" class="form-control" placeholder="Map"/>
            <div class="text-danger" th:if="${#fields.hasErrors('map')}" th:errors="*{map}"></div>
        </div>
        <button type="submit" class="custom-button">Xác nhận</button>
        <a th:href="@{/admin/cinemas}" class="btn btn-outline-danger">Hủy</a>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>