<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <style>

    </style>
</head>
<body>
<section layout:fragment="content">

    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <section class="banner-section">
        <div class="banner-bg bg_img bg-fixed" data-background="/assets/img/history/history-bg.jpg" style="background-image: url(&quot;./assets/img/history/history-bg.jpg&quot;);"></div>
        <div class="container">
            <div class="banner-content">
                <h1 class="title cd-headline clip">
                    <span class="d-block" th:text="${title}"></span>
                </h1>
                <p>Cám ơn bạn đã đồng hành cùng Ba Anh Em. Chúc bạn xem phim vui vẻ!</p>
            </div>
        </div>
    </section>
    <section class="profile-section">
        <div class="container">
            <div class="profile-wrapper">
                <div class="profile-header" style="display: flex; align-items: center; justify-content: space-between;">
                    <div class="profile-header-info">
                        <h2 class="text-white" style="margin-bottom: 20px" th:text="${user.fullname}"></h2>
                        <p class="text-white" th:text="${user.email}"></p>
                    </div>
                    <div class="profile-header-point">
                        <p class="text-white" style="margin-bottom: 20px">Điểm tích lũy:</p>
                        <h2 class="text-white" th:text="${#numbers.formatDecimal(user.pointSaving != null ? user.pointSaving : 0, 0, 'POINT')}"></h2>
                    </div>
                </div>

                <div class="profile-info">
                    <div class="info-item">
                        <div class="info-label">  </div>
                        <div class="info-value" th:text="${user.username}"></div>
                    </div>

                    <div class="info-item">
                        <div class="info-label">Số điện thoại</div>
                        <div class="info-value" th:text="${user.phone != null ? user.phone : 'Chưa cập nhật'}">

                        </div>
                    </div>
                    <div class="info-item">
                        <div class="info-label">Ngày sinh</div>
                        <div class="info-value" th:text="${user.birthday != null ? user.birthday : 'Chưa cập nhật'}">

                        </div>
                    </div>
                    <div class="info-item">
                        <div class="info-label">Tuổi</div>
                        <div class="info-value" th:text="${user.age != null ? user.age : 'Chưa cập nhật'}">

                        </div>
                    </div>
<!--                    <div class="info-item">-->
<!--                        <div class="info-label">Địa chỉ</div>-->
<!--                        <div class="info-value" th:text="${user.address != null ? user.address : 'Chưa cập nhật'}">-->
<!--                            Địa chỉ người dùng-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="info-item">-->
<!--                        <div class="info-label">Ngày tham gia</div>-->
<!--                        <div class="info-value"-->
<!--                             th:text="${#dates.format(user.createdAt, 'dd/MM/yyyy')}">-->
<!--                            01/01/2024-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="text-center">
                        <a th:href="@{/user/profile/chinh-sua}" class="edit-button">
                            Chỉnh sửa thông tin
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>
</body>
</html>