<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
    <main class="main">
        <div class="container-fluid">
            <div class="row">
                <!-- main title -->
                <div class="col-12">
                    <div class="main__title">
                        <h2>Trang chủ</h2>
                    </div>
                </div>
                <!-- end main title -->
            </div>
            <div class="row row--grid">
                <!-- stats -->
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="stats">
                        <span>Tổng người dùng</span>
                        <p th:text="${userCount}"></p>
                        <img th:src="@{/assets/admin/img/graph-bar.svg}" alt="">
                    </div>
                </div>
                <!-- end stats -->
                <!-- stats -->
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="stats">
                        <span>Tổng lần đặt (booking)</span>
                        <p th:text="${bookingCount}"></p>
                        <img th:src="@{/assets/admin/img/film.svg}" alt="">
                    </div>
                </div>
                <!-- end stats -->
                <!-- stats -->
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="stats">
                        <span>Tổng lợi nhuận tạm tính</span>
                        <p th:text="${#numbers.formatDecimal(totalPrice, 0, 'POINT', 0, 'POINT')}"></p>
                        <img th:src="@{/assets/admin/img/star-half-alt.svg}" alt="">
                    </div>
                </div>
                <!-- end stats -->
            </div>
        </div>
    </main>
</section>
</body>
</html>