<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Lịch sử mua vé</title>
</head>
<body>
<section layout:fragment="content">

        <!-- ==========Preloader========== -->
        <div class="preloader">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- ==========Preloader========== -->

    <section class="banner-section">
        <div class="banner-bg bg_img bg-fixed" data-background="/assets/img/history/history-bg.jpg" style="background-image: url(&quot;./assets/img/history/history-bg.jpg&quot;);"></div>
        <div class="container">
            <div class="banner-content">
                <h1 class="title cd-headline clip">
                    <span class="d-block">Lịch sử đặt vé</span>
                    <span class="color-theme cd-words-wrapper p-0 m-0" style="width: 271.888px;">
                            <b class="is-hidden pb-3">Rõ ràng</b>
                            <b class="is-hidden pb-3">Nhanh chóng</b>
                            <b class="is-visible pb-3">Tối ưu</b>

                        </span>
                </h1>
                <p>
                    Cám ơn bạn đã đồng hành cùng Ba Anh Em.
                    Chúc bạn xem phim vui vẻ!
                </p>
            </div>
        </div>
    </section>
    <section class="movie-section padding-top padding-bottom">
        <div class="container">
            <div class="row flex-wrap-reverse justify-content-center">
                <div class="col-sm-10 col-md-8 col-lg-3">
                    <div class="widget-1 widget-banner">
                        <div class="widget-1-body">
                            <a href="#0">
                                <img src="/assets/img/sidebar/banner/banner00.jpg" alt="banner">
                            </a>
                        </div>
                    </div>
                    <div class="widget-1 widget-banner">
                        <div class="widget-1-body">
                            <a href="#0">
                                <img src="/assets/img/sidebar/banner/banner01.jpg" alt="banner">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 mb-50 mb-lg-0">
                    <!--list film-->
                    <div class="movie-area mb-10"  th:each="booking : ${bookings}">
                        <div class="movie-list">
                            <div class="movie-thumb c-thumb">
                                <a
                                        href="#0"
                                        class="w-100 bg_img h-100"
                                        th:attr="data-background = ${booking.poster}"
                                >
                                    <img
                                            class="d-sm-none"
                                            th:src="${booking.poster}"
                                            alt="movie"
                                    />
                                </a>
                            </div>
                            <div class="movie-content bg-one">
                                <h5 class="title">
                                    <a href="#"
                                       th:text="${booking.filmName}"
                                    ></a
                                    >
                                </h5>
                                <p class="duration" th:text="${'Ngày đặt: ' + booking.createAt}">

                                </p>

                                <div class="movie-tags">
                                    <a href="#0" th:text="${'Tên khách hàng: '+ booking.user.fullname}"></a>
                                </div>
                                <div class="release">
                                    <a href="#0" th:text="${'Suất chiếu: ' + booking.startTime}">
                                    </a
                                    >
                                </div>
                                <div class="movie-tags">
                                    <a href="#0"  th:text="${'Rạp phim: '+booking.cinemaName}"></a>
                                </div>
                                <ul
                                        class="movie-rating-percent"
                                >
                                    <li>
                                        <div class="thumb">
                                            <img
                                                    src="/assets/img/history/stat01.png"
                                                    alt="movie"
                                            />
                                        </div>
                                        <span class="content" th:text="${'Ghế đã đặt: ' + booking.seatName}"
                                        ></span
                                        >
                                    </li>

                                    <li>
                                        <div class="thumb">
                                            <img
                                                    src="/assets/img/movie/cake.png"
                                                    alt="movie"
                                            />
                                        </div>
                                        <span class="content"  th:text="${'Tổng tiền: ' + booking.price}"
                                        ></span
                                        >
                                    </li>
                                    <li>
                                        <div class="thumb">
                                            <img
                                                    src="/assets/img/movie/tomato.png"
                                                    alt="movie"
                                            />
                                        </div>
                                        <span class="content" th:text="${'Phương thức: ' + booking.payment}"
                                        ></span
                                        >
                                    </li>
                                </ul>
                                <div class="book-area">
                                    <div class="book-ticket">
                                        <div
                                                class="react-item mr-auto"
                                        >
                                            <a href="#0">
                                                <div
                                                        class="thumb"
                                                >
                                                    <img
                                                            src="/assets/img/history/event-icon02.png"
                                                            alt="icons"
                                                    />
                                                </div>
                                                <span  th:text="${'Vị trí: '+booking.cinemaAddress}" ></span>
                                            </a>
                                        </div>
                                        <div class="react-item">
                                            <a
                                                    href="#0"
                                                    class="popup-video"
                                            >
                                                <div
                                                        class="thumb"
                                                >
                                                    <img
                                                            src="/assets/img/history/event-icon03.png"
                                                            alt="icons"
                                                    />
                                                </div>
                                                <span  th:text="${'Phòng chiếu: '+booking.roomName}" ></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <table>-->
<!--                                <thead>-->
<!--                                <tr>-->
<!--                                    <th>Film Name</th>-->
<!--                                    <th>Cinema Name</th>-->
<!--                                    <th>Seat</th>-->
<!--                                    <th>Start Time</th>-->
<!--                                    <th>Price</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->
<!--                                <tr th:each="booking : ${bookings}">-->
<!--                                    <td th:text="${booking.filmName}"></td>-->
<!--                                    <td th:text="${booking.cinemaName}"></td>-->
<!--                                    <td th:text="${booking.seatName}"></td>-->
<!--                                    <td th:text="${#dates.format(booking.startTime, 'yyyy-MM-dd HH:mm:ss')}"></td>-->
<!--                                    <td th:text="${booking.price}"></td>-->
<!--                                </tr>-->
<!--                                </tbody>-->
<!--                            </table>-->

                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>