<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content" class="container mt-5">
    <!-- BREADCRUMB -->
    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class=" display-3 mb-4 fw-bolder">
                Trang danh mục
            </h3>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/home/index">Trang chủ >></a></li>
                <li class="breadcrumb-item active"> Thêm comboFood</li>
            </ol>
        </div>
    </div>
    <!-- Header End -->
    <!-- /BREADCRUMB -->

    <form th:action="@{/admin/seatPrice/add}" th:object="${seatprice}" method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="name" class="form-label">Tên loại ghế</label>
            <input type="text" id="name" th:field="*{type}" class="form-control" placeholder="Tên loại ghế"/>
            <div class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Giá ghế</label>
            <input type="number" id="price" th:field="*{price}" class="form-control" placeholder="Giá ghế"/>
            <div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        </div>

        <button type="submit" class="custom-button">Xác nhận</button>
    </form>
</section>
</body>
</html>