<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      >
<head>
    <meta charset="UTF-8">
    <title>Sửa thể loại</title>
</head>
<body>
<section layout:fragment="content" class="container mt-5">
    <!-- BREADCRUMB -->
    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="display-3 mb-4 fw-bolder">
                Danh sách loại
            </h3>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/home/index">Trang chủ</a></li>
                <li class="breadcrumb-item active ">Danh mục</li>
            </ol>
        </div>
    </div>
    <!-- Header End -->
    <!-- /BREADCRUMB -->
    <!--    <h1 class="mb-4">Update Category</h1>-->
    <form th:action="@{/admin/categories/edit/{id}(id=${category.id})}" th:object="${category}" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="name" class="form-label">Category Name:</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Valid name is required.</div>
        </div>
        <button type="submit" class="custom-button">Update</button>
        <a th:href="@{/admin/categories}" class="btn btn-outline-danger">Cancel</a>
    </form>
</section>
</body>
</html>