<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title  th:text="${title} ?: 'Kết Quả'">Title</title>
</head>
<body>
<section layout:fragment="content" class="mt-5">
    <!-- BREADCRUMB -->
    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="display-3 mb-4 fw-bolder">
                Danh sách phòng chiếu
            </h3>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active ">Phòng chiếu</li>
            </ol>
        </div>
    </div>
    <!-- Header End -->
    <!-- /BREADCRUMB -->
    <!--    <h1>Categories List</h1>-->
    <div class="container">
        <div>
            <a th:href="@{/admin/rooms/add}" class="btn btn-primary mb-3">Thêm phòng chiếu</a>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Phòng chiếu</th>
                <th>Rạp</th>
                <th>Địa chỉ</th>
                <th>Mô tả</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${roomss}">
                <td class="text-white" th:text="${item.id}"></td>
                <td class="text-white" th:text="${item.name}"></td>
                <td class="text-white" th:text="${item.cinema.name}"></td>
                <td class="text-white" th:text="${item.cinema.address}"></td>
                <td class="text-white" th:text="${item.description}"></td>
                <td>
                    <a th:href="@{/admin/rooms/detail/{id}(id=${item.id})}" class="btn btn-warning btn-sm">Chi tiết</a>
                    <a th:href="@{/admin/rooms/edit/{id}(id=${item.id})}" class="btn btn-success btn-sm">Sửa</a>
                    <a th:href="@{/admin/rooms/delete/{id}(id=${item.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc không ?')">Xóa</a>
                </td>
            </tr>
            </tbody>
        </table></div>
</section>
</body>
</html>