<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>  Về chúng tôi </title>
</head>

<body>

<section layout:fragment="content">
    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->

    <!-- ==========Banner-Section========== -->
    <section
            class="main-page-header speaker-banner bg_img"
            data-background="./assets/img/banner/banner07.jpg"
    >
        <div class="container">
            <div class="speaker-banner-content">
                <h2 class="title">Về chúng tôi</h2>
                <ul class="breadcrumb">
                    <li>
                        <a href="index.html"> Home </a>
                    </li>
                    <li>about us</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- ==========Banner-Section========== -->

    <!-- ==========Speaker-Single========== -->
    <section class="about-section padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <div class="event-about-content">
                        <div class="section-header-3 left-style m-0">
                            <span class="cate"> Chúng tôi là Ba Anh Em  </span>
                            <h2 class="title">Vài thông tin về chúng tôi</h2>
                            <p>
                                Là ba thành viên trong team Ba Anh Em, hiện đang là sinh viên
                                năm 3 tại HUTECH University

                            </p>
                            <p>
                                Chúng tôi nỗ lực cùng nhau hoàn thành các đồ án môn học
                                một cách tốt nhất, chỉnh chu nhất, hoàn thiện profile cá nhân
                                chinh phục con đường developer website, liên tục học hỏi và trau dồi kiến thức về
                                các framework và programming languages ^^
                            </p>
                            <a href="#0" class="custom-button"
                            >Xem thêm</a
                            >
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <div class="about-thumb">
                        <img
                                src="./assets/img/about/about01.png"
                                alt="about"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Speaker-Single========== -->

    <!-- ==========Philosophy-Section========== -->
    <div
            class="philosophy-section padding-top padding-bottom bg-one bg_img bg_quater_img"
            data-background="./assets/img/about/about-bg.jpg"
    >
        <div class="container">
            <div class="row">
                <div class="col-lg-9 offset-lg-3 bg-two">
                    <div class="philosophy-content">
                        <div class="section-header-3 left-style">
                            <span class="cate">Take look at</span>
                            <h2 class="title">Our philosophy</h2>
                            <p class="ml-0">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit, sed do eiusmtempor
                                incididunt labore et dolore magna aliqu enim
                                ad minim veniam quis nostrud exercitation
                                ullamco laboris nisi ut aliquip
                            </p>
                        </div>
                        <ul class="phisophy-list">
                            <li>
                                <div class="thumb">
                                    <img
                                            src="./assets/img/philosophy/icon1.png"
                                            alt="philosophy"
                                    />
                                </div>
                                <h5 class="title">Honesty & Fairness</h5>
                            </li>
                            <li>
                                <div class="thumb">
                                    <img
                                            src="./assets/img/philosophy/icon2.png"
                                            alt="philosophy"
                                    />
                                </div>
                                <h5 class="title">
                                    Clarity & Transparency
                                </h5>
                            </li>
                            <li>
                                <div class="thumb">
                                    <img
                                            src="./assets/img/philosophy/icon3.png"
                                            alt="philosophy"
                                    />
                                </div>
                                <h5 class="title">Focus on Customers</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==========Philosophy-Section========== -->

    <!-- ==========About-Counter-Section========== -->
    <section class="about-counter-section padding-bottom padding-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-header-3 left-style mb-lg-0">
                        <span class="cate">quick facts</span>
                        <h2 class="title">fun facts</h2>
                        <p>
                            Objectively seize scalable metrics whereas
                            proactive services seamlessly empower fully
                            researched growth strategies
                        </p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="about-counter">
                        <div class="counter-item">
                            <div class="counter-thumb">
                                <img
                                        src="./assets/img/about/about-counter01.png"
                                        alt="about"
                                />
                            </div>
                            <div class="counter-content">
                                <h3
                                        class="title odometer"
                                        data-odometer-final="30"
                                ></h3>
                                <h3 class="title">M+</h3>
                            </div>
                            <span class="d-block info">Customers</span>
                        </div>
                        <div class="counter-item">
                            <div class="counter-thumb">
                                <img
                                        src="./assets/img/about/about-counter02.png"
                                        alt="about"
                                />
                            </div>
                            <div class="counter-content">
                                <h3
                                        class="title odometer"
                                        data-odometer-final="11"
                                ></h3>
                            </div>
                            <span class="d-block info">Contries</span>
                        </div>
                        <div class="counter-item">
                            <div class="counter-thumb">
                                <img
                                        src="./assets/img/about/about-counter03.png"
                                        alt="about"
                                />
                            </div>
                            <div class="counter-content">
                                <h3
                                        class="title odometer"
                                        data-odometer-final="650"
                                ></h3>
                                <h3 class="title">+</h3>
                            </div>
                            <span class="d-block info">Towns & Cities</span>
                        </div>
                        <div class="counter-item">
                            <div class="counter-thumb">
                                <img
                                        src="./assets/img/about/about-counter04.png"
                                        alt="about"
                                />
                            </div>
                            <div class="counter-content">
                                <h3
                                        class="title odometer"
                                        data-odometer-final="5000"
                                ></h3>
                                <h3 class="title">+</h3>
                            </div>
                            <span class="d-block info">Screens</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========About-Counter-Section========== -->

    <!-- ==========Client-Section========== -->
    <section
            class="client-section padding-bottom padding-top bg_img"
            data-background="./assets/img/client/client-bg.jpg"
    >
        <div class="container">
            <div class="section-header-3">
                <span class="cate">Ý kiến khách hàng </span>
                <h2 class="title">Fans của chúng tôi nói gì</h2>
            </div>
            <div class="client-slider owl-carousel owl-theme">
                <div class="client-item">
                    <div class="client-thumb">
                        <img
                                src="/assets/img/client/client01.jpg"
                                alt="client"
                        />
                    </div>
                    <div class="client-content">
                        <h5 class="title">
                            <a href="#0">Nhựt Minh</a>
                        </h5>
                        <span class="info"
                        ><i class="fas fa-check"></i> Đã xác minh</span
                        >
                        <blockquote class="client-quote">
                           "Rất thích website Ba Anh Em vì có nhiều chương trình khuyến mãi giảm giá cho khách hàng !"
                        </blockquote>
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-thumb">
                        <img
                                src="/assets/img/client/client03.jpg"
                                alt="client"
                        />
                    </div>
                    <div class="client-content">
                        <h5 class="title">
                            <a href="#0">Phúc Ngô</a>
                        </h5>
                        <span class="info"
                        ><i class="fas fa-check"></i> Đã xác minh</span
                        >
                        <blockquote class="client-quote">
                            "Giá cả thì phải chăng hơn các website khác đó nha ! Dễ sử dụng nữa"
                        </blockquote>
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-thumb">
                        <img
                                src="/assets/img/client/client02.jpg"
                                alt="client"
                        />
                    </div>
                    <div class="client-content">
                        <h5 class="title">
                            <a href="#0">Quỳnh Mai</a>
                        </h5>
                        <span class="info"
                        ><i class="fas fa-check"></i> Đã xác minh</span
                        >
                        <blockquote class="client-quote">
                          "Khi tôi muốn xem phim thì Ba Anh Em là website tôi nghĩ đến đầu tiên đó mọi người!"
                        </blockquote>
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-thumb">
                        <img
                                src="/assets/img/client/client04.jpg"
                                alt="client"
                        />
                    </div>
                    <div class="client-content">
                        <h5 class="title">
                            <a href="#0">Hoàng Long</a>
                        </h5>
                        <span class="info"
                        ><i class="fas fa-check"></i> Đã xác minh</span
                        >
                        <blockquote class="client-quote">
                            "Tuyệt vời. 10 điểm không có nhưng"
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Client-Section========== -->

    <!-- ==========Speaker-Section========== -->
    <section class="speaker-section padding-bottom padding-top">
        <div class="container">
            <div class="section-header-3">
                <span class="cate">Gặp gỡ những key members </span>
                <h2 class="title">Đội ngũ chuyên gia</h2>
                <p>
                    World is committed to making participation in the event
                    a harassment free experience for everyone, regardless of
                    level of experience, gender, gender identity and
                    expression
                </p>
            </div>
            <div class="speaker--slider">
                <div class="speaker-slider owl-carousel owl-theme">
                    <div class="speaker-item">
                        <div class="speaker-thumb">
                            <img
                                    src="./assets/img/speaker/speaker011.jpg"
                                    alt="speaker"
                            />
                        </div>
                        <div class="speaker-content">
                            <h5 class="title">
                                <a href="event-speaker.html">
                                    Bùi Hoàng Việt
                                </a>
                            </h5>
                            <span>CO-FOUNDER, CEO</span>
                        </div>
                    </div>
                    <div class="speaker-item">
                        <div class="speaker-thumb">
                            <img
                                    src="./assets/img/speaker/speaker022.jpg"
                                    alt="speaker"
                            />
                        </div>
                        <div class="speaker-content">
                            <h5 class="title">
                                <a href="event-speaker.html">
                                   Phạm Tiến Thuận Phát
                                </a>
                            </h5>
                            <span>CO-FOUNDER, CEO</span>
                        </div>
                    </div>
                    <div class="speaker-item">
                        <div class="speaker-thumb">
                            <a href="event-speaker.html">
                                <img
                                        src="./assets/img/speaker/speaker033.jpg"
                                        alt="speaker"
                                />
                            </a>
                        </div>
                        <div class="speaker-content">
                            <h5 class="title">
                                <a href="event-speaker.html">Bùi Chí Bảo</a>
                            </h5>
                            <span>CO-FOUNDER, CEO</span>
                        </div>
                    </div>
                    <div class="speaker-item">
                        <div class="speaker-thumb">
                            <a href="event-speaker.html">
                                <img
                                        src="./assets/img/speaker/speaker044.jpg"
                                        alt="speaker"
                                />
                            </a>
                        </div>
                        <div class="speaker-content">
                            <h5 class="title">
                                <a href="event-speaker.html">
                                    No Name
                                </a>
                            </h5>
                            <span>CO-FOUNDER, CEO</span>
                        </div>
                    </div>
                </div>
                <div class="speaker-prev">
                    <i class="flaticon-double-right-arrows-angles"></i>
                </div>
                <div class="speaker-next">
                    <i class="flaticon-double-right-arrows-angles"></i>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Speaker-Section========== -->

    <!-- ==========Gallery-Section========== -->
    <section class="gallery-section padding-top padding-bottom bg-one">
        <div class="container">
            <div class="section-header-3">
                <span class="cate">Take a look at our</span>
                <h2 class="title">A ticket for every fan.</h2>
                <p>
                    World is committed to making participation in the event
                    a harassment free experience for everyone, regardless of
                    level of experience, gender, gender identity and
                    expression
                </p>
            </div>
            <div
                    class="row justify-content-center gallery-wrapper mb-30-none"
            >
                <div class="col-lg-3 col-sm-6">
                    <div class="gallery-item two">
                        <div class="gallery-thumb">
                            <a
                                    href="./assets/img/gallery/gallery05.jpg"
                                    class="img-pop"
                            >
                                <i class="flaticon-loupe"></i>
                            </a>
                            <img
                                    src="./assets/img/gallery/gallery05.jpg"
                                    alt="gallery"
                            />
                        </div>
                    </div>
                    <div class="gallery-item two">
                        <div class="gallery-thumb">
                            <a
                                    href="./assets/img/gallery/gallery06.jpg"
                                    class="img-pop"
                            >
                                <i class="flaticon-loupe"></i>
                            </a>
                            <img
                                    src="./assets/img/gallery/gallery06.jpg"
                                    alt="gallery"
                            />
                        </div>
                    </div>
                    <div class="gallery-item two">
                        <div class="gallery-thumb">
                            <a
                                    href="./assets/img/gallery/gallery07.jpg"
                                    class="img-pop"
                            >
                                <i class="flaticon-loupe"></i>
                            </a>
                            <img
                                    src="./assets/img/gallery/gallery07.jpg"
                                    alt="gallery"
                            />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 order-lg-1">
                    <div class="gallery-item two">
                        <div class="gallery-thumb">
                            <a
                                    href="./assets/img/gallery/gallery11.jpg"
                                    class="img-pop"
                            >
                                <i class="flaticon-loupe"></i>
                            </a>
                            <img
                                    src="./assets/img/gallery/gallery11.jpg"
                                    alt="gallery"
                            />
                        </div>
                    </div>
                    <div class="gallery-item two">
                        <div class="gallery-thumb">
                            <a
                                    href="./assets/img/gallery/gallery12.jpg"
                                    class="img-pop"
                            >
                                <i class="flaticon-loupe"></i>
                            </a>
                            <img
                                    src="./assets/img/gallery/gallery12.jpg"
                                    alt="gallery"
                            />
                        </div>
                    </div>
                    <div class="gallery-item two">
                        <div class="gallery-thumb">
                            <a
                                    href="./assets/img/gallery/gallery13.jpg"
                                    class="img-pop"
                            >
                                <i class="flaticon-loupe"></i>
                            </a>
                            <img
                                    src="./assets/img/gallery/gallery13.jpg"
                                    alt="gallery"
                            />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="gallery-item two">
                        <div class="gallery-thumb">
                            <a
                                    href="./assets/img/gallery/gallery08.jpg"
                                    class="img-pop"
                            >
                                <i class="flaticon-loupe"></i>
                            </a>
                            <img
                                    src="./assets/img/gallery/gallery08.jpg"
                                    alt="gallery"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="gallery-item two">
                                <div class="gallery-thumb">
                                    <a
                                            href="./assets/img/gallery/gallery09.jpg"
                                            class="img-pop"
                                    >
                                        <i class="flaticon-loupe"></i>
                                    </a>
                                    <img
                                            src="./assets/img/gallery/gallery09.jpg"
                                            alt="gallery"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="gallery-item two">
                                <div class="gallery-thumb">
                                    <a
                                            href="./assets/img/gallery/gallery10.jpg"
                                            class="img-pop"
                                    >
                                        <i class="flaticon-loupe"></i>
                                    </a>
                                    <img
                                            src="./assets/img/gallery/gallery10.jpg"
                                            alt="gallery"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Gallery-Section========== -->

    <!-- ==========Tour-Section========== -->
    <section class="tour-section padding-top padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="tour-content">
                        <div class="section-header-3 left-style">
                                <span class="cate"
                                >take a look at our tour</span
                                >
                            <h2 class="title">Guarantees you can trust.</h2>
                            <p class="ml-0">
                                Because more peace of mind means more love
                                for the event.
                            </p>
                        </div>
                        <ul class="list-tour">
                            <li>
                                <div class="thumb">
                                    <img
                                            src="./assets/img/tour/icon01.png"
                                            alt="tour"
                                    />
                                </div>
                                <div class="content">
                                    <h5 class="title">Get In Guarantee</h5>
                                    <p>
                                        Authentic tickets, on-time delivery,
                                        and access to your event. Or your
                                        money back. Period.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="thumb">
                                    <img
                                            src="./assets/img/tour/icon02.png"
                                            alt="tour"
                                    />
                                </div>
                                <div class="content">
                                    <h5 class="title">
                                        price match guarantee
                                    </h5>
                                    <p>
                                        The best prices are here. If you
                                        spot a better deal elsewhere, we’ll
                                        cover the difference.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="tour-thumb">
                        <img src="./assets/img/tour/tour.png" alt="tour" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Tour-Section========== -->

</section>

</body>
</html>
