<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<section layout:fragment="content">
    <main class="main">
        <div class="container-fluid">
            <div class="row">
                <!-- main title -->
                <div class="col-12">
                    <div class="main__title">
                        <h2 th:text="${title}"></h2>
                    </div>
                </div>
                <!-- end main title -->

                <!-- form -->
                <div class="col-12">
                    <form th:action="@{/admin/seats/add}" th:object="${seat}" method="POST" class="profile__form"
                          enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-12 col-md-5 form__cover">
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-12">
                                        <div class="form__img">
                                            <label for="form__img-upload">Upload cover (270 x 400)</label>
                                            <input id="form__img-upload" th:field="*{image}" name="form__img-upload"
                                                   type="file" accept=".png, .jpg, .jpeg">
                                            <img id="form__img" th:src="*{image}" alt=" ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7 form__content">
                                <div class="row">
                                    <div class="col-12  col-lg-6">
                                        <label class="profile__label" for="room">Số ghế</label>
                                        <input type="text" class="form__input" placeholder="A,B,C,D... + 1,2,3..."
                                               title="seatnumber"
                                               th:field="*{symbol}" name="seatnumber" required/>
                                    </div>
                                    <div class="col-12  col-lg-6">
                                        <label class="profile__label" for="room">Trạng thái</label>
                                        <input type="text" class="form__input"
                                               title="Trạng thái"
                                               th:field="*{status}" name="status" required/>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="profile__group">
                                            <label class="profile__label" for="room">Phòng</label>
                                            <select class="js-example-basic-single" id="room" th:field="*{room.id}"
                                                    name="room_id">
                                                <option value="">Chọn phòng</option>
                                                <option th:each="item: ${rooms}" th:value="${item.id}"
                                                        th:text="${item.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="profile__group">
                                            <label class="profile__label" for="seat_type">Loại ghế</label>
                                            <select class="js-example-basic-single" id="seat_type"
                                                    th:field="*{seattype.id}" name="seattype_id">
                                                <option value="">Chọn loại ghế</option>
                                                <option th:each="item : ${seattypes}" th:value="${item.id}"
                                                        th:text="${item.type}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <button type="submit" class="form__btn">thực hiện</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end form -->
            </div>
        </div>
    </main>
</section>
</body>
</html>